.plnnrSection{
    width: 28%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#dbIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: calc(8px + 3vw);
}

#arrow {
    margin: 0.5vw;
}

#editIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#editIcons i {
    font-size: calc(8px + 3vw);
}

#clock {
    padding-top: 2vw;
}

#edit {
    
}

#uiIcon {
    font-size: calc(8px + 4.5vw);
}

